=begin
#API Shop Documentation

#Integrated API platform documentation. This document covers all services provided by API Shop. For details on common response codes (like 401, 403, 500), please refer to our unified error code documentation.

The version of the OpenAPI document: v1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module JustSerpApi
  class GoogleApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Mode
    # Get Google aI Mode data, including generated answers, follow-up prompts, and cited links, for AI search experience monitoring.
    # @param query [String] The search query for Google Search (e.g., &#39;coffee shops&#39;, &#39;how to bake a cake&#39;).
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :html Set to true to return the raw HTML of the Google search results page alongside the structured data.
    # @option opts [String] :country Set the target country code (e.g., &#39;us&#39;, &#39;uk&#39;) to localize results. See &lt;a href&#x3D;\&quot;/reference/google-countries\&quot;&gt;Google Countries&lt;/a&gt;.
    # @option opts [String] :uule Encoded location string (UULE) used to precisely localize Google search results. This is an advanced/technical parameter — if you’re not familiar with it, you can leave it empty and omit it.
    # @option opts [String] :location The textual location name (e.g., &#39;New York, NY&#39;) to localize the search results.
    # @option opts [String] :safe SafeSearch filter setting.  Available Values: - &#x60;ACTIVE&#x60;: Filter adult content. Legacy value &#x60;active&#x60; is also accepted. - &#x60;OFF&#x60;: Disable SafeSearch filtering. Legacy value &#x60;off&#x60; is also accepted.
    # @return [JustSerpApiResponse]
    def ai_mode(query, opts = {})
      data, _status_code, _headers = ai_mode_with_http_info(query, opts)
      data
    end

    # Mode
    # Get Google aI Mode data, including generated answers, follow-up prompts, and cited links, for AI search experience monitoring.
    # @param query [String] The search query for Google Search (e.g., &#39;coffee shops&#39;, &#39;how to bake a cake&#39;).
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :html Set to true to return the raw HTML of the Google search results page alongside the structured data.
    # @option opts [String] :country Set the target country code (e.g., &#39;us&#39;, &#39;uk&#39;) to localize results. See &lt;a href&#x3D;\&quot;/reference/google-countries\&quot;&gt;Google Countries&lt;/a&gt;.
    # @option opts [String] :uule Encoded location string (UULE) used to precisely localize Google search results. This is an advanced/technical parameter — if you’re not familiar with it, you can leave it empty and omit it.
    # @option opts [String] :location The textual location name (e.g., &#39;New York, NY&#39;) to localize the search results.
    # @option opts [String] :safe SafeSearch filter setting.  Available Values: - &#x60;ACTIVE&#x60;: Filter adult content. Legacy value &#x60;active&#x60; is also accepted. - &#x60;OFF&#x60;: Disable SafeSearch filtering. Legacy value &#x60;off&#x60; is also accepted.
    # @return [Array<(JustSerpApiResponse, Integer, Hash)>] JustSerpApiResponse data, response status code and response headers
    def ai_mode_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.ai_mode ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling GoogleApi.ai_mode"
      end
      allowable_values = ["ACTIVE", "OFF"]
      if @api_client.config.client_side_validation && opts[:'safe'] && !allowable_values.include?(opts[:'safe'])
        fail ArgumentError, "invalid value for \"safe\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v1/google/ai-mode'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'html'] = opts[:'html'] if !opts[:'html'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'uule'] = opts[:'uule'] if !opts[:'uule'].nil?
      query_params[:'location'] = opts[:'location'] if !opts[:'location'].nil?
      query_params[:'safe'] = opts[:'safe'] if !opts[:'safe'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JustSerpApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'ApiKeyQuery']

      new_options = opts.merge(
        :operation => :"GoogleApi.ai_mode",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#ai_mode\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Overview
    # Get Google aI Overview data, including generated summaries and cited sources, for generative search visibility tracking.
    # @param url [String] The unique URL generated by Google to access the AI Overview. This URL is typically extracted from the &#39;ai_overview_url&#39; field in a &lt;a href&#x3D;\&quot;/reference/google/search\&quot;&gt;Google Search API&lt;/a&gt; response. Note: This URL is transient and usually expires within 2 minutes.
    # @param [Hash] opts the optional parameters
    # @return [JustSerpApiResponse]
    def ai_overview(url, opts = {})
      data, _status_code, _headers = ai_overview_with_http_info(url, opts)
      data
    end

    # Overview
    # Get Google aI Overview data, including generated summaries and cited sources, for generative search visibility tracking.
    # @param url [String] The unique URL generated by Google to access the AI Overview. This URL is typically extracted from the &#39;ai_overview_url&#39; field in a &lt;a href&#x3D;\&quot;/reference/google/search\&quot;&gt;Google Search API&lt;/a&gt; response. Note: This URL is transient and usually expires within 2 minutes.
    # @param [Hash] opts the optional parameters
    # @return [Array<(JustSerpApiResponse, Integer, Hash)>] JustSerpApiResponse data, response status code and response headers
    def ai_overview_with_http_info(url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.ai_overview ...'
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling GoogleApi.ai_overview"
      end
      # resource path
      local_var_path = '/api/v1/google/ai-overview'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = url

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JustSerpApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'ApiKeyQuery']

      new_options = opts.merge(
        :operation => :"GoogleApi.ai_overview",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#ai_overview\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Autocomplete Suggestions
    # Get Google autocomplete Suggestions data, including real-time suggestion data, country and language targeting, and structured suggestion lists, for keyword expansion and search intent research.
    # @param query [String] The search query to get autocomplete suggestions for. As you type, Google provides real-time predictions based on popular searches.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Set the target country code (e.g., &#39;us&#39;, &#39;uk&#39;) to localize results. See &lt;a href&#x3D;\&quot;/reference/google-countries\&quot;&gt;Google Countries&lt;/a&gt;.
    # @option opts [String] :language Set the language for the results using its two-letter code (e.g., &#39;en&#39; for English, &#39;fr&#39; for French). See &lt;a href&#x3D;\&quot;/reference/google-language\&quot;&gt;Google Language&lt;/a&gt;.
    # @return [JustSerpApiResponse]
    def autocomplete(query, opts = {})
      data, _status_code, _headers = autocomplete_with_http_info(query, opts)
      data
    end

    # Autocomplete Suggestions
    # Get Google autocomplete Suggestions data, including real-time suggestion data, country and language targeting, and structured suggestion lists, for keyword expansion and search intent research.
    # @param query [String] The search query to get autocomplete suggestions for. As you type, Google provides real-time predictions based on popular searches.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Set the target country code (e.g., &#39;us&#39;, &#39;uk&#39;) to localize results. See &lt;a href&#x3D;\&quot;/reference/google-countries\&quot;&gt;Google Countries&lt;/a&gt;.
    # @option opts [String] :language Set the language for the results using its two-letter code (e.g., &#39;en&#39; for English, &#39;fr&#39; for French). See &lt;a href&#x3D;\&quot;/reference/google-language\&quot;&gt;Google Language&lt;/a&gt;.
    # @return [Array<(JustSerpApiResponse, Integer, Hash)>] JustSerpApiResponse data, response status code and response headers
    def autocomplete_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.autocomplete ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling GoogleApi.autocomplete"
      end
      # resource path
      local_var_path = '/api/v1/google/autocomplete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JustSerpApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'ApiKeyQuery']

      new_options = opts.merge(
        :operation => :"GoogleApi.autocomplete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#autocomplete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search
    # Get Google finance Search data, including market summaries, company details, and related finance results, for finance monitoring and market research.
    # @param query [String] The stock symbol, company name, or index you want to search for on Google Finance (e.g., &#39;AAPL&#39;, &#39;Tesla&#39;, &#39;S&amp;P 500&#39;).
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :html Set to true to return the raw HTML of the Google search results page alongside the structured data.
    # @option opts [String] :language Set the language for the results using its two-letter code (e.g., &#39;en&#39; for English, &#39;fr&#39; for French). See &lt;a href&#x3D;\&quot;/reference/google-language\&quot;&gt;Google Language&lt;/a&gt;.
    # @return [JustSerpApiResponse]
    def finance_search(query, opts = {})
      data, _status_code, _headers = finance_search_with_http_info(query, opts)
      data
    end

    # Search
    # Get Google finance Search data, including market summaries, company details, and related finance results, for finance monitoring and market research.
    # @param query [String] The stock symbol, company name, or index you want to search for on Google Finance (e.g., &#39;AAPL&#39;, &#39;Tesla&#39;, &#39;S&amp;P 500&#39;).
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :html Set to true to return the raw HTML of the Google search results page alongside the structured data.
    # @option opts [String] :language Set the language for the results using its two-letter code (e.g., &#39;en&#39; for English, &#39;fr&#39; for French). See &lt;a href&#x3D;\&quot;/reference/google-language\&quot;&gt;Google Language&lt;/a&gt;.
    # @return [Array<(JustSerpApiResponse, Integer, Hash)>] JustSerpApiResponse data, response status code and response headers
    def finance_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.finance_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling GoogleApi.finance_search"
      end
      # resource path
      local_var_path = '/api/v1/google/finance/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'html'] = opts[:'html'] if !opts[:'html'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JustSerpApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'ApiKeyQuery']

      new_options = opts.merge(
        :operation => :"GoogleApi.finance_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#finance_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search
    # Get Google hotels Search data, including prices, ratings, and availability details, for travel comparison and hospitality market analysis.
    # @param query [String] The destination or specific hotel name you are searching for (e.g., &#39;Paris&#39;, &#39;Hilton New York&#39;).
    # @param check_in_date [String] The hotel check-in date in &#39;YYYY-MM-DD&#39; format (e.g., &#39;2026-05-20&#39;).
    # @param check_out_date [String] The hotel check-out date in &#39;YYYY-MM-DD&#39; format (e.g., &#39;2026-05-25&#39;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :next_page_token The token used to retrieve the next page of hotel results. This token is found in the &#39;next_page_token&#39; field of a previous response.
    # @option opts [Integer] :adults The number of adults staying in the room.
    # @option opts [Integer] :children The number of children staying in the room.
    # @option opts [String] :children_ages The ages of the children, separated by commas (e.g., &#39;5,10&#39;). The number of ages must match the &#39;children&#39; parameter.
    # @option opts [Boolean] :html Set to true to return the raw HTML of the Google search results page alongside the structured data.
    # @option opts [String] :language Set the language for the results using its two-letter code (e.g., &#39;en&#39; for English, &#39;fr&#39; for French). See &lt;a href&#x3D;\&quot;/reference/google-language\&quot;&gt;Google Language&lt;/a&gt;.
    # @option opts [String] :country Set the target country code (e.g., &#39;us&#39;, &#39;uk&#39;) to localize results. See &lt;a href&#x3D;\&quot;/reference/google-countries\&quot;&gt;Google Countries&lt;/a&gt;.
    # @option opts [String] :currency The three-letter ISO currency code for displaying prices (e.g., &#39;USD&#39;, &#39;EUR&#39;). See &lt;a href&#x3D;\&quot;/reference/hotels/google-hotels-currency\&quot;&gt;Google Hotels Currency&lt;/a&gt;.
    # @option opts [String] :sort_by The criteria to sort hotel results.  Available Values: - &#x60;LOWEST_PRICE&#x60;: Lowest price. Legacy value &#x60;3&#x60; is also accepted. - &#x60;HIGHEST_RATING&#x60;: Highest rating. Legacy value &#x60;8&#x60; is also accepted. - &#x60;MOST_REVIEWS&#x60;: Most reviews. Legacy value &#x60;13&#x60; is also accepted.
    # @option opts [String] :min_price Minimum price filter for the hotel stay.
    # @option opts [String] :max_price Maximum price filter for the hotel stay.
    # @option opts [String] :property_types Filter by hotel property types. See the &lt;a href&#x3D;\&quot;/reference/hotels/google-hotels-property-types\&quot;&gt;Google Property Types&lt;/a&gt; for the full list of supported hotel property types. For vacation rentals, refer to the &lt;a href&#x3D;\&quot;/reference/hotels/google-hotels-vacation-rentals-property-types\&quot;&gt;Google Hotels Vacation Rentals Property Types&lt;/a&gt;.
    # @option opts [String] :amenities Filter by specific amenities (e.g., &#39;35&#39; for free Wi-Fi). &lt;a href&#x3D;\&quot;/reference/hotels/google-hotels-amenities\&quot;&gt;Google Hotels Amenities&lt;/a&gt; (hotel amenities). &lt;a href&#x3D;\&quot;/reference/hotels/google-hotels-vacation-rentals-amenities\&quot;&gt;Google Hotels Vacation Rentals Amenities&lt;/a&gt; (vacation rental amenities)
    # @option opts [String] :rating Filter by minimum guest rating.  Available Values: - &#x60;AT_LEAST_3_5&#x60;: 3.5+ guest rating. Legacy value &#x60;7&#x60; is also accepted. - &#x60;AT_LEAST_4_0&#x60;: 4.0+ guest rating. Legacy value &#x60;8&#x60; is also accepted. - &#x60;AT_LEAST_4_5&#x60;: 4.5+ guest rating. Legacy value &#x60;9&#x60; is also accepted.
    # @option opts [String] :brands Filter by specific hotel brand IDs. IDs can be comma-separated.
    # @option opts [String] :hotel_class Filter by hotel star ratings. Supported values: &#39;2&#39;, &#39;3&#39;, &#39;4&#39;, &#39;5&#39;. Can be comma-separated.
    # @option opts [String] :free_cancellation Filter for hotels that offer free cancellation. Set to &#39;1&#39; or &#39;true&#39; to enable.
    # @option opts [String] :special_offers Filter for hotels currently offering special deals or discounts. Set to &#39;1&#39; or &#39;true&#39; to enable.
    # @option opts [String] :eco_certified Filter for hotels that are eco-certified. Set to &#39;1&#39; or &#39;true&#39; to enable.
    # @option opts [Boolean] :vacation_rentals Set to true to search for vacation rentals instead of standard hotels.
    # @option opts [String] :bedrooms Minimum number of bedrooms required (applies to vacation rentals).
    # @option opts [String] :bathrooms Minimum number of bathrooms required (applies to vacation rentals).
    # @option opts [String] :property_token The unique token for a specific hotel property to fetch detailed information.
    # @return [JustSerpApiResponse]
    def hotels_search(query, check_in_date, check_out_date, opts = {})
      data, _status_code, _headers = hotels_search_with_http_info(query, check_in_date, check_out_date, opts)
      data
    end

    # Search
    # Get Google hotels Search data, including prices, ratings, and availability details, for travel comparison and hospitality market analysis.
    # @param query [String] The destination or specific hotel name you are searching for (e.g., &#39;Paris&#39;, &#39;Hilton New York&#39;).
    # @param check_in_date [String] The hotel check-in date in &#39;YYYY-MM-DD&#39; format (e.g., &#39;2026-05-20&#39;).
    # @param check_out_date [String] The hotel check-out date in &#39;YYYY-MM-DD&#39; format (e.g., &#39;2026-05-25&#39;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :next_page_token The token used to retrieve the next page of hotel results. This token is found in the &#39;next_page_token&#39; field of a previous response.
    # @option opts [Integer] :adults The number of adults staying in the room.
    # @option opts [Integer] :children The number of children staying in the room.
    # @option opts [String] :children_ages The ages of the children, separated by commas (e.g., &#39;5,10&#39;). The number of ages must match the &#39;children&#39; parameter.
    # @option opts [Boolean] :html Set to true to return the raw HTML of the Google search results page alongside the structured data.
    # @option opts [String] :language Set the language for the results using its two-letter code (e.g., &#39;en&#39; for English, &#39;fr&#39; for French). See &lt;a href&#x3D;\&quot;/reference/google-language\&quot;&gt;Google Language&lt;/a&gt;.
    # @option opts [String] :country Set the target country code (e.g., &#39;us&#39;, &#39;uk&#39;) to localize results. See &lt;a href&#x3D;\&quot;/reference/google-countries\&quot;&gt;Google Countries&lt;/a&gt;.
    # @option opts [String] :currency The three-letter ISO currency code for displaying prices (e.g., &#39;USD&#39;, &#39;EUR&#39;). See &lt;a href&#x3D;\&quot;/reference/hotels/google-hotels-currency\&quot;&gt;Google Hotels Currency&lt;/a&gt;.
    # @option opts [String] :sort_by The criteria to sort hotel results.  Available Values: - &#x60;LOWEST_PRICE&#x60;: Lowest price. Legacy value &#x60;3&#x60; is also accepted. - &#x60;HIGHEST_RATING&#x60;: Highest rating. Legacy value &#x60;8&#x60; is also accepted. - &#x60;MOST_REVIEWS&#x60;: Most reviews. Legacy value &#x60;13&#x60; is also accepted.
    # @option opts [String] :min_price Minimum price filter for the hotel stay.
    # @option opts [String] :max_price Maximum price filter for the hotel stay.
    # @option opts [String] :property_types Filter by hotel property types. See the &lt;a href&#x3D;\&quot;/reference/hotels/google-hotels-property-types\&quot;&gt;Google Property Types&lt;/a&gt; for the full list of supported hotel property types. For vacation rentals, refer to the &lt;a href&#x3D;\&quot;/reference/hotels/google-hotels-vacation-rentals-property-types\&quot;&gt;Google Hotels Vacation Rentals Property Types&lt;/a&gt;.
    # @option opts [String] :amenities Filter by specific amenities (e.g., &#39;35&#39; for free Wi-Fi). &lt;a href&#x3D;\&quot;/reference/hotels/google-hotels-amenities\&quot;&gt;Google Hotels Amenities&lt;/a&gt; (hotel amenities). &lt;a href&#x3D;\&quot;/reference/hotels/google-hotels-vacation-rentals-amenities\&quot;&gt;Google Hotels Vacation Rentals Amenities&lt;/a&gt; (vacation rental amenities)
    # @option opts [String] :rating Filter by minimum guest rating.  Available Values: - &#x60;AT_LEAST_3_5&#x60;: 3.5+ guest rating. Legacy value &#x60;7&#x60; is also accepted. - &#x60;AT_LEAST_4_0&#x60;: 4.0+ guest rating. Legacy value &#x60;8&#x60; is also accepted. - &#x60;AT_LEAST_4_5&#x60;: 4.5+ guest rating. Legacy value &#x60;9&#x60; is also accepted.
    # @option opts [String] :brands Filter by specific hotel brand IDs. IDs can be comma-separated.
    # @option opts [String] :hotel_class Filter by hotel star ratings. Supported values: &#39;2&#39;, &#39;3&#39;, &#39;4&#39;, &#39;5&#39;. Can be comma-separated.
    # @option opts [String] :free_cancellation Filter for hotels that offer free cancellation. Set to &#39;1&#39; or &#39;true&#39; to enable.
    # @option opts [String] :special_offers Filter for hotels currently offering special deals or discounts. Set to &#39;1&#39; or &#39;true&#39; to enable.
    # @option opts [String] :eco_certified Filter for hotels that are eco-certified. Set to &#39;1&#39; or &#39;true&#39; to enable.
    # @option opts [Boolean] :vacation_rentals Set to true to search for vacation rentals instead of standard hotels.
    # @option opts [String] :bedrooms Minimum number of bedrooms required (applies to vacation rentals).
    # @option opts [String] :bathrooms Minimum number of bathrooms required (applies to vacation rentals).
    # @option opts [String] :property_token The unique token for a specific hotel property to fetch detailed information.
    # @return [Array<(JustSerpApiResponse, Integer, Hash)>] JustSerpApiResponse data, response status code and response headers
    def hotels_search_with_http_info(query, check_in_date, check_out_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.hotels_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling GoogleApi.hotels_search"
      end
      # verify the required parameter 'check_in_date' is set
      if @api_client.config.client_side_validation && check_in_date.nil?
        fail ArgumentError, "Missing the required parameter 'check_in_date' when calling GoogleApi.hotels_search"
      end
      # verify the required parameter 'check_out_date' is set
      if @api_client.config.client_side_validation && check_out_date.nil?
        fail ArgumentError, "Missing the required parameter 'check_out_date' when calling GoogleApi.hotels_search"
      end
      allowable_values = ["LOWEST_PRICE", "HIGHEST_RATING", "MOST_REVIEWS"]
      if @api_client.config.client_side_validation && opts[:'sort_by'] && !allowable_values.include?(opts[:'sort_by'])
        fail ArgumentError, "invalid value for \"sort_by\", must be one of #{allowable_values}"
      end
      allowable_values = ["AT_LEAST_3_5", "AT_LEAST_4_0", "AT_LEAST_4_5"]
      if @api_client.config.client_side_validation && opts[:'rating'] && !allowable_values.include?(opts[:'rating'])
        fail ArgumentError, "invalid value for \"rating\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v1/google/hotels/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'check_in_date'] = check_in_date
      query_params[:'check_out_date'] = check_out_date
      query_params[:'next_page_token'] = opts[:'next_page_token'] if !opts[:'next_page_token'].nil?
      query_params[:'adults'] = opts[:'adults'] if !opts[:'adults'].nil?
      query_params[:'children'] = opts[:'children'] if !opts[:'children'].nil?
      query_params[:'children_ages'] = opts[:'children_ages'] if !opts[:'children_ages'].nil?
      query_params[:'html'] = opts[:'html'] if !opts[:'html'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'min_price'] = opts[:'min_price'] if !opts[:'min_price'].nil?
      query_params[:'max_price'] = opts[:'max_price'] if !opts[:'max_price'].nil?
      query_params[:'property_types'] = opts[:'property_types'] if !opts[:'property_types'].nil?
      query_params[:'amenities'] = opts[:'amenities'] if !opts[:'amenities'].nil?
      query_params[:'rating'] = opts[:'rating'] if !opts[:'rating'].nil?
      query_params[:'brands'] = opts[:'brands'] if !opts[:'brands'].nil?
      query_params[:'hotel_class'] = opts[:'hotel_class'] if !opts[:'hotel_class'].nil?
      query_params[:'free_cancellation'] = opts[:'free_cancellation'] if !opts[:'free_cancellation'].nil?
      query_params[:'special_offers'] = opts[:'special_offers'] if !opts[:'special_offers'].nil?
      query_params[:'eco_certified'] = opts[:'eco_certified'] if !opts[:'eco_certified'].nil?
      query_params[:'vacation_rentals'] = opts[:'vacation_rentals'] if !opts[:'vacation_rentals'].nil?
      query_params[:'bedrooms'] = opts[:'bedrooms'] if !opts[:'bedrooms'].nil?
      query_params[:'bathrooms'] = opts[:'bathrooms'] if !opts[:'bathrooms'].nil?
      query_params[:'property_token'] = opts[:'property_token'] if !opts[:'property_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JustSerpApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'ApiKeyQuery']

      new_options = opts.merge(
        :operation => :"GoogleApi.hotels_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#hotels_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Crawl Webpage (HTML)
    # Get webpage crawl data, including returns full raw HTML content, fast and cost-efficient, and optimized for static page crawling, for scraping, metadata extraction, and page structure analysis.
    # @param url [String] The full URL of the webpage to crawl (e.g., &#39;https://www.example.com&#39;).
    # @param [Hash] opts the optional parameters
    # @return [JustSerpApiResponse]
    def html(url, opts = {})
      data, _status_code, _headers = html_with_http_info(url, opts)
      data
    end

    # Crawl Webpage (HTML)
    # Get webpage crawl data, including returns full raw HTML content, fast and cost-efficient, and optimized for static page crawling, for scraping, metadata extraction, and page structure analysis.
    # @param url [String] The full URL of the webpage to crawl (e.g., &#39;https://www.example.com&#39;).
    # @param [Hash] opts the optional parameters
    # @return [Array<(JustSerpApiResponse, Integer, Hash)>] JustSerpApiResponse data, response status code and response headers
    def html_with_http_info(url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.html ...'
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling GoogleApi.html"
      end
      # resource path
      local_var_path = '/api/v1/web/html'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = url

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JustSerpApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'ApiKeyQuery']

      new_options = opts.merge(
        :operation => :"GoogleApi.html",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#html\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search
    # Get Google images Search data, including image URLs and metadata, for filtered image discovery for research and monitoring workflows.
    # @param query [String] The search query for images (e.g., &#39;mountain landscape&#39;, &#39;luxury cars&#39;).
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :html Set to true to return the raw HTML of the Google search results page alongside the structured data.
    # @option opts [Integer] :page The results page number. Use 0 for the first page, 1 for the second, and so on.
    # @option opts [String] :domain The Google domain to use for the search (e.g., &#39;google.com&#39;, &#39;google.co.uk&#39;). See &lt;a href&#x3D;\&quot;/reference/google-domains\&quot;&gt;Google Domains&lt;/a&gt;.
    # @option opts [String] :country Set the target country code (e.g., &#39;us&#39;, &#39;uk&#39;) to localize results. See &lt;a href&#x3D;\&quot;/reference/google-countries\&quot;&gt;Google Countries&lt;/a&gt;.
    # @option opts [String] :cr Limits results to search results from specific countries. Format: &#39;countryXX&#39;. See &lt;a href&#x3D;\&quot;/reference/google-cr-countries\&quot;&gt;Google CR Countries&lt;/a&gt;.
    # @option opts [String] :language Set the language for the results using its two-letter code (e.g., &#39;en&#39; for English, &#39;fr&#39; for French). See &lt;a href&#x3D;\&quot;/reference/google-language\&quot;&gt;Google Language&lt;/a&gt;.
    # @option opts [String] :lr Restrict results to one or more languages using the &#39;lang_{language_code}&#39; format (e.g., &#39;lang_en&#39;). See &lt;a href&#x3D;\&quot;/reference/google-lr-language\&quot;&gt;Google LR Language&lt;/a&gt;.
    # @option opts [String] :uule Encoded location string (UULE) used to precisely localize Google search results. This is an advanced/technical parameter — if you’re not familiar with it, you can leave it empty and omit it.
    # @option opts [String] :period_unit Time unit for recent image results.  Available Values: - &#x60;SECOND&#x60;: Second. Legacy value &#x60;s&#x60; is also accepted. - &#x60;MINUTE&#x60;: Minute. Legacy value &#x60;n&#x60; is also accepted. - &#x60;HOUR&#x60;: Hour. Legacy value &#x60;h&#x60; is also accepted. - &#x60;DAY&#x60;: Day. Legacy value &#x60;d&#x60; is also accepted. - &#x60;WEEK&#x60;: Week. Legacy value &#x60;w&#x60; is also accepted. - &#x60;MONTH&#x60;: Month. Legacy value &#x60;m&#x60; is also accepted. - &#x60;YEAR&#x60;: Year. Legacy value &#x60;y&#x60; is also accepted.
    # @option opts [String] :period_value Time duration value used with &#39;period_unit&#39; (e.g., 15 for 15 days). Default: 1.
    # @option opts [String] :start_date Start date for restricting images to a time range. Format: &#39;YYYYMMDD&#39; (e.g., &#39;20241201&#39;).
    # @option opts [String] :end_date End date for restricting images to a time range. Format: &#39;YYYYMMDD&#39; (e.g., &#39;20241231&#39;).
    # @option opts [String] :chips Additional suggested search terms (chips) to filter images. Values are obtained from previous responses.
    # @option opts [String] :tbs Advanced search filter parameter (tbs) used to apply Google result filters (e.g. time range). This is an advanced parameter — if you’re not familiar with it, you can leave it empty.
    # @option opts [String] :imgar Filter by image aspect ratio.  Available Values: - &#x60;SQUARE&#x60;: Square images. Legacy value &#x60;s&#x60; is also accepted. - &#x60;TALL&#x60;: Tall images. Legacy value &#x60;t&#x60; is also accepted. - &#x60;WIDE&#x60;: Wide images. Legacy value &#x60;w&#x60; is also accepted. - &#x60;PANORAMIC&#x60;: Panoramic images. Legacy value &#x60;xw&#x60; is also accepted.
    # @option opts [String] :imgsz Filter by image size.  Available Values: - &#x60;LARGE&#x60;: Large images. Legacy value &#x60;l&#x60; is also accepted. - &#x60;MEDIUM&#x60;: Medium images. Legacy value &#x60;m&#x60; is also accepted. - &#x60;ICON&#x60;: Icon-sized images. Legacy value &#x60;i&#x60; is also accepted.
    # @option opts [String] :image_color Filter images by a dominant color (e.g., &#39;red&#39;, &#39;blue&#39;, &#39;bw&#39; for black and white, &#39;trans&#39; for transparent).
    # @option opts [String] :image_type Filter by image type. Supported values: &#39;face&#39;, &#39;photo&#39;, &#39;clipart&#39;, &#39;lineart&#39;, &#39;animated&#39;.
    # @option opts [String] :licenses Filter by usage rights and licenses.  Available Values: - &#x60;FREE_TO_USE&#x60;: Free to use. Legacy value &#x60;f&#x60; is also accepted. - &#x60;COMMERCIAL_USE&#x60;: Commercial use. Legacy value &#x60;fc&#x60; is also accepted. - &#x60;CREATIVE_COMMONS&#x60;: Creative Commons. Legacy value &#x60;cl&#x60; is also accepted.
    # @option opts [String] :safe SafeSearch filter setting.  Available Values: - &#x60;ACTIVE&#x60;: Filter adult content. Legacy value &#x60;active&#x60; is also accepted. - &#x60;OFF&#x60;: Disable SafeSearch filtering. Legacy value &#x60;off&#x60; is also accepted.
    # @option opts [String] :nfpr Controls Google&#39;s auto-correction.  Available Values: - &#x60;INCLUDE_CORRECTED_RESULTS&#x60;: Include corrected results. Legacy value &#x60;0&#x60; is also accepted. - &#x60;EXCLUDE_CORRECTED_RESULTS&#x60;: Exclude corrected results. Legacy value &#x60;1&#x60; is also accepted.
    # @option opts [String] :filter Toggle similar-results and omitted-results filtering.  Available Values: - &#x60;DISABLED&#x60;: Disable similar and omitted results filtering. Legacy value &#x60;0&#x60; is also accepted. - &#x60;ENABLED&#x60;: Enable similar and omitted results filtering. Legacy value &#x60;1&#x60; is also accepted.
    # @return [JustSerpApiResponse]
    def images_search(query, opts = {})
      data, _status_code, _headers = images_search_with_http_info(query, opts)
      data
    end

    # Search
    # Get Google images Search data, including image URLs and metadata, for filtered image discovery for research and monitoring workflows.
    # @param query [String] The search query for images (e.g., &#39;mountain landscape&#39;, &#39;luxury cars&#39;).
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :html Set to true to return the raw HTML of the Google search results page alongside the structured data.
    # @option opts [Integer] :page The results page number. Use 0 for the first page, 1 for the second, and so on.
    # @option opts [String] :domain The Google domain to use for the search (e.g., &#39;google.com&#39;, &#39;google.co.uk&#39;). See &lt;a href&#x3D;\&quot;/reference/google-domains\&quot;&gt;Google Domains&lt;/a&gt;.
    # @option opts [String] :country Set the target country code (e.g., &#39;us&#39;, &#39;uk&#39;) to localize results. See &lt;a href&#x3D;\&quot;/reference/google-countries\&quot;&gt;Google Countries&lt;/a&gt;.
    # @option opts [String] :cr Limits results to search results from specific countries. Format: &#39;countryXX&#39;. See &lt;a href&#x3D;\&quot;/reference/google-cr-countries\&quot;&gt;Google CR Countries&lt;/a&gt;.
    # @option opts [String] :language Set the language for the results using its two-letter code (e.g., &#39;en&#39; for English, &#39;fr&#39; for French). See &lt;a href&#x3D;\&quot;/reference/google-language\&quot;&gt;Google Language&lt;/a&gt;.
    # @option opts [String] :lr Restrict results to one or more languages using the &#39;lang_{language_code}&#39; format (e.g., &#39;lang_en&#39;). See &lt;a href&#x3D;\&quot;/reference/google-lr-language\&quot;&gt;Google LR Language&lt;/a&gt;.
    # @option opts [String] :uule Encoded location string (UULE) used to precisely localize Google search results. This is an advanced/technical parameter — if you’re not familiar with it, you can leave it empty and omit it.
    # @option opts [String] :period_unit Time unit for recent image results.  Available Values: - &#x60;SECOND&#x60;: Second. Legacy value &#x60;s&#x60; is also accepted. - &#x60;MINUTE&#x60;: Minute. Legacy value &#x60;n&#x60; is also accepted. - &#x60;HOUR&#x60;: Hour. Legacy value &#x60;h&#x60; is also accepted. - &#x60;DAY&#x60;: Day. Legacy value &#x60;d&#x60; is also accepted. - &#x60;WEEK&#x60;: Week. Legacy value &#x60;w&#x60; is also accepted. - &#x60;MONTH&#x60;: Month. Legacy value &#x60;m&#x60; is also accepted. - &#x60;YEAR&#x60;: Year. Legacy value &#x60;y&#x60; is also accepted.
    # @option opts [String] :period_value Time duration value used with &#39;period_unit&#39; (e.g., 15 for 15 days). Default: 1.
    # @option opts [String] :start_date Start date for restricting images to a time range. Format: &#39;YYYYMMDD&#39; (e.g., &#39;20241201&#39;).
    # @option opts [String] :end_date End date for restricting images to a time range. Format: &#39;YYYYMMDD&#39; (e.g., &#39;20241231&#39;).
    # @option opts [String] :chips Additional suggested search terms (chips) to filter images. Values are obtained from previous responses.
    # @option opts [String] :tbs Advanced search filter parameter (tbs) used to apply Google result filters (e.g. time range). This is an advanced parameter — if you’re not familiar with it, you can leave it empty.
    # @option opts [String] :imgar Filter by image aspect ratio.  Available Values: - &#x60;SQUARE&#x60;: Square images. Legacy value &#x60;s&#x60; is also accepted. - &#x60;TALL&#x60;: Tall images. Legacy value &#x60;t&#x60; is also accepted. - &#x60;WIDE&#x60;: Wide images. Legacy value &#x60;w&#x60; is also accepted. - &#x60;PANORAMIC&#x60;: Panoramic images. Legacy value &#x60;xw&#x60; is also accepted.
    # @option opts [String] :imgsz Filter by image size.  Available Values: - &#x60;LARGE&#x60;: Large images. Legacy value &#x60;l&#x60; is also accepted. - &#x60;MEDIUM&#x60;: Medium images. Legacy value &#x60;m&#x60; is also accepted. - &#x60;ICON&#x60;: Icon-sized images. Legacy value &#x60;i&#x60; is also accepted.
    # @option opts [String] :image_color Filter images by a dominant color (e.g., &#39;red&#39;, &#39;blue&#39;, &#39;bw&#39; for black and white, &#39;trans&#39; for transparent).
    # @option opts [String] :image_type Filter by image type. Supported values: &#39;face&#39;, &#39;photo&#39;, &#39;clipart&#39;, &#39;lineart&#39;, &#39;animated&#39;.
    # @option opts [String] :licenses Filter by usage rights and licenses.  Available Values: - &#x60;FREE_TO_USE&#x60;: Free to use. Legacy value &#x60;f&#x60; is also accepted. - &#x60;COMMERCIAL_USE&#x60;: Commercial use. Legacy value &#x60;fc&#x60; is also accepted. - &#x60;CREATIVE_COMMONS&#x60;: Creative Commons. Legacy value &#x60;cl&#x60; is also accepted.
    # @option opts [String] :safe SafeSearch filter setting.  Available Values: - &#x60;ACTIVE&#x60;: Filter adult content. Legacy value &#x60;active&#x60; is also accepted. - &#x60;OFF&#x60;: Disable SafeSearch filtering. Legacy value &#x60;off&#x60; is also accepted.
    # @option opts [String] :nfpr Controls Google&#39;s auto-correction.  Available Values: - &#x60;INCLUDE_CORRECTED_RESULTS&#x60;: Include corrected results. Legacy value &#x60;0&#x60; is also accepted. - &#x60;EXCLUDE_CORRECTED_RESULTS&#x60;: Exclude corrected results. Legacy value &#x60;1&#x60; is also accepted.
    # @option opts [String] :filter Toggle similar-results and omitted-results filtering.  Available Values: - &#x60;DISABLED&#x60;: Disable similar and omitted results filtering. Legacy value &#x60;0&#x60; is also accepted. - &#x60;ENABLED&#x60;: Enable similar and omitted results filtering. Legacy value &#x60;1&#x60; is also accepted.
    # @return [Array<(JustSerpApiResponse, Integer, Hash)>] JustSerpApiResponse data, response status code and response headers
    def images_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.images_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling GoogleApi.images_search"
      end
      allowable_values = ["SECOND", "MINUTE", "HOUR", "DAY", "WEEK", "MONTH", "YEAR"]
      if @api_client.config.client_side_validation && opts[:'period_unit'] && !allowable_values.include?(opts[:'period_unit'])
        fail ArgumentError, "invalid value for \"period_unit\", must be one of #{allowable_values}"
      end
      allowable_values = ["SQUARE", "TALL", "WIDE", "PANORAMIC"]
      if @api_client.config.client_side_validation && opts[:'imgar'] && !allowable_values.include?(opts[:'imgar'])
        fail ArgumentError, "invalid value for \"imgar\", must be one of #{allowable_values}"
      end
      allowable_values = ["LARGE", "MEDIUM", "ICON"]
      if @api_client.config.client_side_validation && opts[:'imgsz'] && !allowable_values.include?(opts[:'imgsz'])
        fail ArgumentError, "invalid value for \"imgsz\", must be one of #{allowable_values}"
      end
      allowable_values = ["FREE_TO_USE", "COMMERCIAL_USE", "CREATIVE_COMMONS"]
      if @api_client.config.client_side_validation && opts[:'licenses'] && !allowable_values.include?(opts[:'licenses'])
        fail ArgumentError, "invalid value for \"licenses\", must be one of #{allowable_values}"
      end
      allowable_values = ["ACTIVE", "OFF"]
      if @api_client.config.client_side_validation && opts[:'safe'] && !allowable_values.include?(opts[:'safe'])
        fail ArgumentError, "invalid value for \"safe\", must be one of #{allowable_values}"
      end
      allowable_values = ["INCLUDE_CORRECTED_RESULTS", "EXCLUDE_CORRECTED_RESULTS"]
      if @api_client.config.client_side_validation && opts[:'nfpr'] && !allowable_values.include?(opts[:'nfpr'])
        fail ArgumentError, "invalid value for \"nfpr\", must be one of #{allowable_values}"
      end
      allowable_values = ["DISABLED", "ENABLED"]
      if @api_client.config.client_side_validation && opts[:'filter'] && !allowable_values.include?(opts[:'filter'])
        fail ArgumentError, "invalid value for \"filter\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v1/google/images/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'html'] = opts[:'html'] if !opts[:'html'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'cr'] = opts[:'cr'] if !opts[:'cr'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?
      query_params[:'lr'] = opts[:'lr'] if !opts[:'lr'].nil?
      query_params[:'uule'] = opts[:'uule'] if !opts[:'uule'].nil?
      query_params[:'period_unit'] = opts[:'period_unit'] if !opts[:'period_unit'].nil?
      query_params[:'period_value'] = opts[:'period_value'] if !opts[:'period_value'].nil?
      query_params[:'start_date'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'end_date'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'chips'] = opts[:'chips'] if !opts[:'chips'].nil?
      query_params[:'tbs'] = opts[:'tbs'] if !opts[:'tbs'].nil?
      query_params[:'imgar'] = opts[:'imgar'] if !opts[:'imgar'].nil?
      query_params[:'imgsz'] = opts[:'imgsz'] if !opts[:'imgsz'].nil?
      query_params[:'image_color'] = opts[:'image_color'] if !opts[:'image_color'].nil?
      query_params[:'image_type'] = opts[:'image_type'] if !opts[:'image_type'].nil?
      query_params[:'licenses'] = opts[:'licenses'] if !opts[:'licenses'].nil?
      query_params[:'safe'] = opts[:'safe'] if !opts[:'safe'].nil?
      query_params[:'nfpr'] = opts[:'nfpr'] if !opts[:'nfpr'].nil?
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JustSerpApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'ApiKeyQuery']

      new_options = opts.merge(
        :operation => :"GoogleApi.images_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#images_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Details
    # Get Google immersive Product data, including features, specifications, and seller information, for product research and merchandising analysis.
    # @param page_token [String] The unique token used to retrieve detailed product information in Google&#39;s immersive view. This token is typically found in Google Shopping or Search results.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :stores If set to true, the API will retrieve a list of more sellers for the product. Use this together with the &#39;sori&#39; parameter.
    # @option opts [Integer] :sori Pagination offset for seller results. Set this to the number of sellers already retrieved to get the next set.
    # @option opts [String] :country Set the target country code (e.g., &#39;us&#39;, &#39;uk&#39;) to localize results. See &lt;a href&#x3D;\&quot;/reference/google-countries\&quot;&gt;Google Countries&lt;/a&gt;.
    # @option opts [String] :language Set the language for the results using its two-letter code (e.g., &#39;en&#39; for English, &#39;fr&#39; for French). See &lt;a href&#x3D;\&quot;/reference/google-language\&quot;&gt;Google Language&lt;/a&gt;.
    # @return [JustSerpApiResponse]
    def immersive_product(page_token, opts = {})
      data, _status_code, _headers = immersive_product_with_http_info(page_token, opts)
      data
    end

    # Details
    # Get Google immersive Product data, including features, specifications, and seller information, for product research and merchandising analysis.
    # @param page_token [String] The unique token used to retrieve detailed product information in Google&#39;s immersive view. This token is typically found in Google Shopping or Search results.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :stores If set to true, the API will retrieve a list of more sellers for the product. Use this together with the &#39;sori&#39; parameter.
    # @option opts [Integer] :sori Pagination offset for seller results. Set this to the number of sellers already retrieved to get the next set.
    # @option opts [String] :country Set the target country code (e.g., &#39;us&#39;, &#39;uk&#39;) to localize results. See &lt;a href&#x3D;\&quot;/reference/google-countries\&quot;&gt;Google Countries&lt;/a&gt;.
    # @option opts [String] :language Set the language for the results using its two-letter code (e.g., &#39;en&#39; for English, &#39;fr&#39; for French). See &lt;a href&#x3D;\&quot;/reference/google-language\&quot;&gt;Google Language&lt;/a&gt;.
    # @return [Array<(JustSerpApiResponse, Integer, Hash)>] JustSerpApiResponse data, response status code and response headers
    def immersive_product_with_http_info(page_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.immersive_product ...'
      end
      # verify the required parameter 'page_token' is set
      if @api_client.config.client_side_validation && page_token.nil?
        fail ArgumentError, "Missing the required parameter 'page_token' when calling GoogleApi.immersive_product"
      end
      # resource path
      local_var_path = '/api/v1/google/immersive/product'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page_token'] = page_token
      query_params[:'stores'] = opts[:'stores'] if !opts[:'stores'].nil?
      query_params[:'sori'] = opts[:'sori'] if !opts[:'sori'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JustSerpApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'ApiKeyQuery']

      new_options = opts.merge(
        :operation => :"GoogleApi.immersive_product",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#immersive_product\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search
    # Get Google jobs Search data, including titles, companies, and locations, for aggregating job board results, analyzing hiring trends, and monitoring recruitment activity.
    # @param query [String] The job search query (e.g., &#39;software engineer&#39;, &#39;data scientist London&#39;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Set the target country code (e.g., &#39;us&#39;, &#39;uk&#39;) to localize results. See &lt;a href&#x3D;\&quot;/reference/google-countries\&quot;&gt;Google Countries&lt;/a&gt;.
    # @option opts [String] :language Set the language for the results using its two-letter code (e.g., &#39;en&#39; for English, &#39;fr&#39; for French). See &lt;a href&#x3D;\&quot;/reference/google-language\&quot;&gt;Google Language&lt;/a&gt;.
    # @option opts [String] :next_page_token Token for retrieving the next page of job results. Found in &#39;next_page_token&#39; of a previous response.
    # @option opts [String] :chips Additional search filters (chips) such as job type, date posted, etc. Use values returned in previous responses.
    # @option opts [String] :lrad Search radius in miles around the specified location.
    # @option opts [String] :ltype Filter by job location type. Set to &#39;1&#39; for work-from-home (remote) jobs.
    # @option opts [String] :uds Advanced Google-provided filter string for job results.
    # @option opts [String] :uule Encoded location string (UULE) to localize job results to a specific geographic area.
    # @return [JustSerpApiResponse]
    def jobs_search(query, opts = {})
      data, _status_code, _headers = jobs_search_with_http_info(query, opts)
      data
    end

    # Search
    # Get Google jobs Search data, including titles, companies, and locations, for aggregating job board results, analyzing hiring trends, and monitoring recruitment activity.
    # @param query [String] The job search query (e.g., &#39;software engineer&#39;, &#39;data scientist London&#39;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Set the target country code (e.g., &#39;us&#39;, &#39;uk&#39;) to localize results. See &lt;a href&#x3D;\&quot;/reference/google-countries\&quot;&gt;Google Countries&lt;/a&gt;.
    # @option opts [String] :language Set the language for the results using its two-letter code (e.g., &#39;en&#39; for English, &#39;fr&#39; for French). See &lt;a href&#x3D;\&quot;/reference/google-language\&quot;&gt;Google Language&lt;/a&gt;.
    # @option opts [String] :next_page_token Token for retrieving the next page of job results. Found in &#39;next_page_token&#39; of a previous response.
    # @option opts [String] :chips Additional search filters (chips) such as job type, date posted, etc. Use values returned in previous responses.
    # @option opts [String] :lrad Search radius in miles around the specified location.
    # @option opts [String] :ltype Filter by job location type. Set to &#39;1&#39; for work-from-home (remote) jobs.
    # @option opts [String] :uds Advanced Google-provided filter string for job results.
    # @option opts [String] :uule Encoded location string (UULE) to localize job results to a specific geographic area.
    # @return [Array<(JustSerpApiResponse, Integer, Hash)>] JustSerpApiResponse data, response status code and response headers
    def jobs_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.jobs_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling GoogleApi.jobs_search"
      end
      # resource path
      local_var_path = '/api/v1/google/jobs/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?
      query_params[:'next_page_token'] = opts[:'next_page_token'] if !opts[:'next_page_token'].nil?
      query_params[:'chips'] = opts[:'chips'] if !opts[:'chips'].nil?
      query_params[:'lrad'] = opts[:'lrad'] if !opts[:'lrad'].nil?
      query_params[:'ltype'] = opts[:'ltype'] if !opts[:'ltype'].nil?
      query_params[:'uds'] = opts[:'uds'] if !opts[:'uds'].nil?
      query_params[:'uule'] = opts[:'uule'] if !opts[:'uule'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JustSerpApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'ApiKeyQuery']

      new_options = opts.merge(
        :operation => :"GoogleApi.jobs_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#jobs_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search
    # Get Google lens Search data, including visual matches, product matches, and related links, for visual search analysis and product matching workflows.
    # @param url [String] The URL of the image you want to analyze with Google Lens. Must be a publicly accessible image URL.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Set the target country code (e.g., &#39;us&#39;, &#39;uk&#39;) to localize results. See &lt;a href&#x3D;\&quot;/reference/google-countries\&quot;&gt;Google Countries&lt;/a&gt;.
    # @option opts [String] :language Set the language for the results using its two-letter code (e.g., &#39;en&#39; for English, &#39;fr&#39; for French). See &lt;a href&#x3D;\&quot;/reference/google-language\&quot;&gt;Google Language&lt;/a&gt;.
    # @option opts [Boolean] :product If set to true, the API will specifically look for product matches and shopping results.
    # @option opts [Boolean] :visual_matches If set to true, the API will return visually similar images and matches.
    # @option opts [Boolean] :exact_matches If set to true, the API will search for exact duplicates of the provided image.
    # @return [JustSerpApiResponse]
    def lens(url, opts = {})
      data, _status_code, _headers = lens_with_http_info(url, opts)
      data
    end

    # Search
    # Get Google lens Search data, including visual matches, product matches, and related links, for visual search analysis and product matching workflows.
    # @param url [String] The URL of the image you want to analyze with Google Lens. Must be a publicly accessible image URL.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Set the target country code (e.g., &#39;us&#39;, &#39;uk&#39;) to localize results. See &lt;a href&#x3D;\&quot;/reference/google-countries\&quot;&gt;Google Countries&lt;/a&gt;.
    # @option opts [String] :language Set the language for the results using its two-letter code (e.g., &#39;en&#39; for English, &#39;fr&#39; for French). See &lt;a href&#x3D;\&quot;/reference/google-language\&quot;&gt;Google Language&lt;/a&gt;.
    # @option opts [Boolean] :product If set to true, the API will specifically look for product matches and shopping results.
    # @option opts [Boolean] :visual_matches If set to true, the API will return visually similar images and matches.
    # @option opts [Boolean] :exact_matches If set to true, the API will search for exact duplicates of the provided image.
    # @return [Array<(JustSerpApiResponse, Integer, Hash)>] JustSerpApiResponse data, response status code and response headers
    def lens_with_http_info(url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.lens ...'
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling GoogleApi.lens"
      end
      # resource path
      local_var_path = '/api/v1/google/lens'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = url
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?
      query_params[:'product'] = opts[:'product'] if !opts[:'product'].nil?
      query_params[:'visual_matches'] = opts[:'visual_matches'] if !opts[:'visual_matches'].nil?
      query_params[:'exact_matches'] = opts[:'exact_matches'] if !opts[:'exact_matches'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JustSerpApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'ApiKeyQuery']

      new_options = opts.merge(
        :operation => :"GoogleApi.lens",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#lens\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search
    # Get Google local Search data, including business listings, ratings, and contact details, for local lead generation and competitor research.
    # @param query [String] The search query for local businesses (e.g., &#39;pizza&#39;, &#39;dentist near me&#39;).
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The results page number. Use 0 for the first page, 1 for the second, and so on.
    # @option opts [String] :location The textual location name (e.g., &#39;New York, NY&#39;) to localize the search results.
    # @option opts [String] :uule Encoded location string (UULE) used to precisely localize Google search results. This is an advanced/technical parameter — if you’re not familiar with it, you can leave it empty and omit it.
    # @option opts [String] :country Set the target country code (e.g., &#39;us&#39;, &#39;uk&#39;) to localize results. See &lt;a href&#x3D;\&quot;/reference/google-countries\&quot;&gt;Google Countries&lt;/a&gt;.
    # @option opts [String] :language Set the language for the results using its two-letter code (e.g., &#39;en&#39; for English, &#39;fr&#39; for French). See &lt;a href&#x3D;\&quot;/reference/google-language\&quot;&gt;Google Language&lt;/a&gt;.
    # @option opts [String] :domain The Google domain to use for the search (e.g., &#39;google.com&#39;, &#39;google.co.uk&#39;). See &lt;a href&#x3D;\&quot;/reference/google-domains\&quot;&gt;Google Domains&lt;/a&gt;.
    # @option opts [String] :ludocid The unique Google Business Profile listing ID (CID) to get details for a specific business.
    # @option opts [String] :tbs Advanced search filter parameter (tbs) used to apply Google result filters (e.g. time range). This is an advanced parameter — if you’re not familiar with it, you can leave it empty.
    # @return [JustSerpApiResponse]
    def local_search(query, opts = {})
      data, _status_code, _headers = local_search_with_http_info(query, opts)
      data
    end

    # Search
    # Get Google local Search data, including business listings, ratings, and contact details, for local lead generation and competitor research.
    # @param query [String] The search query for local businesses (e.g., &#39;pizza&#39;, &#39;dentist near me&#39;).
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page The results page number. Use 0 for the first page, 1 for the second, and so on.
    # @option opts [String] :location The textual location name (e.g., &#39;New York, NY&#39;) to localize the search results.
    # @option opts [String] :uule Encoded location string (UULE) used to precisely localize Google search results. This is an advanced/technical parameter — if you’re not familiar with it, you can leave it empty and omit it.
    # @option opts [String] :country Set the target country code (e.g., &#39;us&#39;, &#39;uk&#39;) to localize results. See &lt;a href&#x3D;\&quot;/reference/google-countries\&quot;&gt;Google Countries&lt;/a&gt;.
    # @option opts [String] :language Set the language for the results using its two-letter code (e.g., &#39;en&#39; for English, &#39;fr&#39; for French). See &lt;a href&#x3D;\&quot;/reference/google-language\&quot;&gt;Google Language&lt;/a&gt;.
    # @option opts [String] :domain The Google domain to use for the search (e.g., &#39;google.com&#39;, &#39;google.co.uk&#39;). See &lt;a href&#x3D;\&quot;/reference/google-domains\&quot;&gt;Google Domains&lt;/a&gt;.
    # @option opts [String] :ludocid The unique Google Business Profile listing ID (CID) to get details for a specific business.
    # @option opts [String] :tbs Advanced search filter parameter (tbs) used to apply Google result filters (e.g. time range). This is an advanced parameter — if you’re not familiar with it, you can leave it empty.
    # @return [Array<(JustSerpApiResponse, Integer, Hash)>] JustSerpApiResponse data, response status code and response headers
    def local_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.local_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling GoogleApi.local_search"
      end
      # resource path
      local_var_path = '/api/v1/google/local/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'location'] = opts[:'location'] if !opts[:'location'].nil?
      query_params[:'uule'] = opts[:'uule'] if !opts[:'uule'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'ludocid'] = opts[:'ludocid'] if !opts[:'ludocid'].nil?
      query_params[:'tbs'] = opts[:'tbs'] if !opts[:'tbs'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JustSerpApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'ApiKeyQuery']

      new_options = opts.merge(
        :operation => :"GoogleApi.local_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#local_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Photos
    # Get Google maps Photos data, including related metadata, for visual location research and listing QA.
    # @param data_id [String] The unique Google Maps location ID (feature ID). You can get this from our Google Maps Search API.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :language Set the language for the results using its two-letter code (e.g., &#39;en&#39; for English, &#39;fr&#39; for French). See &lt;a href&#x3D;\&quot;/reference/google-language\&quot;&gt;Google Language&lt;/a&gt;.
    # @option opts [String] :category_id The unique ID for a photo category (e.g., &#39;Interior&#39;, &#39;Exterior&#39;). Found in previous Maps Photos API responses.
    # @option opts [String] :next_page_token Token for retrieving the next page of photo results.
    # @return [JustSerpApiResponse]
    def maps_photos(data_id, opts = {})
      data, _status_code, _headers = maps_photos_with_http_info(data_id, opts)
      data
    end

    # Photos
    # Get Google maps Photos data, including related metadata, for visual location research and listing QA.
    # @param data_id [String] The unique Google Maps location ID (feature ID). You can get this from our Google Maps Search API.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :language Set the language for the results using its two-letter code (e.g., &#39;en&#39; for English, &#39;fr&#39; for French). See &lt;a href&#x3D;\&quot;/reference/google-language\&quot;&gt;Google Language&lt;/a&gt;.
    # @option opts [String] :category_id The unique ID for a photo category (e.g., &#39;Interior&#39;, &#39;Exterior&#39;). Found in previous Maps Photos API responses.
    # @option opts [String] :next_page_token Token for retrieving the next page of photo results.
    # @return [Array<(JustSerpApiResponse, Integer, Hash)>] JustSerpApiResponse data, response status code and response headers
    def maps_photos_with_http_info(data_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.maps_photos ...'
      end
      # verify the required parameter 'data_id' is set
      if @api_client.config.client_side_validation && data_id.nil?
        fail ArgumentError, "Missing the required parameter 'data_id' when calling GoogleApi.maps_photos"
      end
      # resource path
      local_var_path = '/api/v1/google/maps/photos'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'data_id'] = data_id
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?
      query_params[:'category_id'] = opts[:'category_id'] if !opts[:'category_id'].nil?
      query_params[:'next_page_token'] = opts[:'next_page_token'] if !opts[:'next_page_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JustSerpApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'ApiKeyQuery']

      new_options = opts.merge(
        :operation => :"GoogleApi.maps_photos",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#maps_photos\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Place Details
    # Get Google maps Place Details data, including contact details and business information, for enrich business directories, look up place details, and sync local app data.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :place_id The unique Google Place ID. Obtainable via the Google Maps Search API. Use this or &#39;data_id&#39;.
    # @option opts [String] :data_id The unique Google Maps location data ID. Use this or &#39;place_id&#39;.
    # @option opts [String] :country Set the target country code (e.g., &#39;us&#39;, &#39;uk&#39;) to localize results. See &lt;a href&#x3D;\&quot;/reference/google-countries\&quot;&gt;Google Countries&lt;/a&gt;.
    # @return [JustSerpApiResponse]
    def maps_places(opts = {})
      data, _status_code, _headers = maps_places_with_http_info(opts)
      data
    end

    # Place Details
    # Get Google maps Place Details data, including contact details and business information, for enrich business directories, look up place details, and sync local app data.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :place_id The unique Google Place ID. Obtainable via the Google Maps Search API. Use this or &#39;data_id&#39;.
    # @option opts [String] :data_id The unique Google Maps location data ID. Use this or &#39;place_id&#39;.
    # @option opts [String] :country Set the target country code (e.g., &#39;us&#39;, &#39;uk&#39;) to localize results. See &lt;a href&#x3D;\&quot;/reference/google-countries\&quot;&gt;Google Countries&lt;/a&gt;.
    # @return [Array<(JustSerpApiResponse, Integer, Hash)>] JustSerpApiResponse data, response status code and response headers
    def maps_places_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.maps_places ...'
      end
      # resource path
      local_var_path = '/api/v1/google/maps/places'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'place_id'] = opts[:'place_id'] if !opts[:'place_id'].nil?
      query_params[:'data_id'] = opts[:'data_id'] if !opts[:'data_id'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JustSerpApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'ApiKeyQuery']

      new_options = opts.merge(
        :operation => :"GoogleApi.maps_places",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#maps_places\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Posts
    # Get Google maps Posts data, including business post content, post dates and images, and profile-specific feeds, for local business monitoring and promotion tracking.
    # @param data_id [String] The unique Google Maps location ID (feature ID). You can get this from our Google Maps Search API.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :next_page_token Token used to retrieve the next page of business posts.
    # @return [JustSerpApiResponse]
    def maps_posts(data_id, opts = {})
      data, _status_code, _headers = maps_posts_with_http_info(data_id, opts)
      data
    end

    # Posts
    # Get Google maps Posts data, including business post content, post dates and images, and profile-specific feeds, for local business monitoring and promotion tracking.
    # @param data_id [String] The unique Google Maps location ID (feature ID). You can get this from our Google Maps Search API.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :next_page_token Token used to retrieve the next page of business posts.
    # @return [Array<(JustSerpApiResponse, Integer, Hash)>] JustSerpApiResponse data, response status code and response headers
    def maps_posts_with_http_info(data_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.maps_posts ...'
      end
      # verify the required parameter 'data_id' is set
      if @api_client.config.client_side_validation && data_id.nil?
        fail ArgumentError, "Missing the required parameter 'data_id' when calling GoogleApi.maps_posts"
      end
      # resource path
      local_var_path = '/api/v1/google/maps/posts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'data_id'] = data_id
      query_params[:'next_page_token'] = opts[:'next_page_token'] if !opts[:'next_page_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JustSerpApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'ApiKeyQuery']

      new_options = opts.merge(
        :operation => :"GoogleApi.maps_posts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#maps_posts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reviews
    # Get Google maps Reviews data, including ratings and reviewer metadata, for reputation analysis and review monitoring.
    # @param data_id [String] The unique Google Maps location ID (feature ID). You can get this from our Google Maps Search API.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :language Set the language for the results using its two-letter code (e.g., &#39;en&#39; for English, &#39;fr&#39; for French). See &lt;a href&#x3D;\&quot;/reference/google-language\&quot;&gt;Google Language&lt;/a&gt;.
    # @option opts [String] :sort_by Sorting order for reviews.  Available Values: - &#x60;RELEVANCE&#x60;: Relevance. Legacy value &#x60;qualityScore&#x60; is also accepted. - &#x60;NEWEST&#x60;: Newest first. Legacy value &#x60;newestFirst&#x60; is also accepted. - &#x60;HIGHEST_RATING&#x60;: Highest rating first. Legacy value &#x60;ratingHigh&#x60; is also accepted. - &#x60;LOWEST_RATING&#x60;: Lowest rating first. Legacy value &#x60;ratingLow&#x60; is also accepted.
    # @option opts [String] :topic_id Filter reviews by a specific topic ID. Topic IDs are obtained from previous Maps Reviews API responses.
    # @option opts [String] :next_page_token Token for retrieving the next page of reviews.
    # @option opts [Integer] :results The maximum number of reviews to return per page (range: 1-20).
    # @return [JustSerpApiResponse]
    def maps_reviews(data_id, opts = {})
      data, _status_code, _headers = maps_reviews_with_http_info(data_id, opts)
      data
    end

    # Reviews
    # Get Google maps Reviews data, including ratings and reviewer metadata, for reputation analysis and review monitoring.
    # @param data_id [String] The unique Google Maps location ID (feature ID). You can get this from our Google Maps Search API.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :language Set the language for the results using its two-letter code (e.g., &#39;en&#39; for English, &#39;fr&#39; for French). See &lt;a href&#x3D;\&quot;/reference/google-language\&quot;&gt;Google Language&lt;/a&gt;.
    # @option opts [String] :sort_by Sorting order for reviews.  Available Values: - &#x60;RELEVANCE&#x60;: Relevance. Legacy value &#x60;qualityScore&#x60; is also accepted. - &#x60;NEWEST&#x60;: Newest first. Legacy value &#x60;newestFirst&#x60; is also accepted. - &#x60;HIGHEST_RATING&#x60;: Highest rating first. Legacy value &#x60;ratingHigh&#x60; is also accepted. - &#x60;LOWEST_RATING&#x60;: Lowest rating first. Legacy value &#x60;ratingLow&#x60; is also accepted.
    # @option opts [String] :topic_id Filter reviews by a specific topic ID. Topic IDs are obtained from previous Maps Reviews API responses.
    # @option opts [String] :next_page_token Token for retrieving the next page of reviews.
    # @option opts [Integer] :results The maximum number of reviews to return per page (range: 1-20).
    # @return [Array<(JustSerpApiResponse, Integer, Hash)>] JustSerpApiResponse data, response status code and response headers
    def maps_reviews_with_http_info(data_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.maps_reviews ...'
      end
      # verify the required parameter 'data_id' is set
      if @api_client.config.client_side_validation && data_id.nil?
        fail ArgumentError, "Missing the required parameter 'data_id' when calling GoogleApi.maps_reviews"
      end
      allowable_values = ["RELEVANCE", "NEWEST", "HIGHEST_RATING", "LOWEST_RATING"]
      if @api_client.config.client_side_validation && opts[:'sort_by'] && !allowable_values.include?(opts[:'sort_by'])
        fail ArgumentError, "invalid value for \"sort_by\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/v1/google/maps/reviews'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'data_id'] = data_id
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?
      query_params[:'sort_by'] = opts[:'sort_by'] if !opts[:'sort_by'].nil?
      query_params[:'topic_id'] = opts[:'topic_id'] if !opts[:'topic_id'].nil?
      query_params[:'next_page_token'] = opts[:'next_page_token'] if !opts[:'next_page_token'].nil?
      query_params[:'results'] = opts[:'results'] if !opts[:'results'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JustSerpApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'ApiKeyQuery']

      new_options = opts.merge(
        :operation => :"GoogleApi.maps_reviews",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#maps_reviews\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search
    # Get Google maps Search data, including business listings, ratings and contact data, and coordinate and location targeting, for local market research and lead discovery.
    # @param query [String] The search query for Google Maps (e.g., &#39;restaurants&#39;, &#39;hospitals in New York&#39;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ll GPS coordinates for the search origin. Format: &#39;@&lt;latitude&gt;,&lt;longitude&gt;,&lt;zoom&gt;&#39;. Required for precise localization and pagination.
    # @option opts [String] :domain The Google domain to use for the search (e.g., &#39;google.com&#39;, &#39;google.co.uk&#39;). See &lt;a href&#x3D;\&quot;/reference/google-domains\&quot;&gt;Google Domains&lt;/a&gt;.
    # @option opts [String] :language Set the language for the results using its two-letter code (e.g., &#39;en&#39; for English, &#39;fr&#39; for French). See &lt;a href&#x3D;\&quot;/reference/google-language\&quot;&gt;Google Language&lt;/a&gt;.
    # @option opts [String] :country Set the target country code (e.g., &#39;us&#39;, &#39;uk&#39;) to localize results. See &lt;a href&#x3D;\&quot;/reference/google-countries\&quot;&gt;Google Countries&lt;/a&gt;.
    # @option opts [String] :data Advanced Google Maps data parameter used for certain map/place-specific result filters and views. It can be copied from a Google Maps URL after applying filters, or constructed for specific place searches. This parameter is commonly used when type &#x3D; \&quot;place\&quot;. If you’re not familiar with it, you can leave it empty.
    # @option opts [String] :place_id The unique Google Place ID to directly retrieve information for a specific location.
    # @option opts [Integer] :page The results pagination offset. Start at 0 and increment by 20 for each subsequent page.
    # @return [JustSerpApiResponse]
    def maps_search(query, opts = {})
      data, _status_code, _headers = maps_search_with_http_info(query, opts)
      data
    end

    # Search
    # Get Google maps Search data, including business listings, ratings and contact data, and coordinate and location targeting, for local market research and lead discovery.
    # @param query [String] The search query for Google Maps (e.g., &#39;restaurants&#39;, &#39;hospitals in New York&#39;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ll GPS coordinates for the search origin. Format: &#39;@&lt;latitude&gt;,&lt;longitude&gt;,&lt;zoom&gt;&#39;. Required for precise localization and pagination.
    # @option opts [String] :domain The Google domain to use for the search (e.g., &#39;google.com&#39;, &#39;google.co.uk&#39;). See &lt;a href&#x3D;\&quot;/reference/google-domains\&quot;&gt;Google Domains&lt;/a&gt;.
    # @option opts [String] :language Set the language for the results using its two-letter code (e.g., &#39;en&#39; for English, &#39;fr&#39; for French). See &lt;a href&#x3D;\&quot;/reference/google-language\&quot;&gt;Google Language&lt;/a&gt;.
    # @option opts [String] :country Set the target country code (e.g., &#39;us&#39;, &#39;uk&#39;) to localize results. See &lt;a href&#x3D;\&quot;/reference/google-countries\&quot;&gt;Google Countries&lt;/a&gt;.
    # @option opts [String] :data Advanced Google Maps data parameter used for certain map/place-specific result filters and views. It can be copied from a Google Maps URL after applying filters, or constructed for specific place searches. This parameter is commonly used when type &#x3D; \&quot;place\&quot;. If you’re not familiar with it, you can leave it empty.
    # @option opts [String] :place_id The unique Google Place ID to directly retrieve information for a specific location.
    # @option opts [Integer] :page The results pagination offset. Start at 0 and increment by 20 for each subsequent page.
    # @return [Array<(JustSerpApiResponse, Integer, Hash)>] JustSerpApiResponse data, response status code and response headers
    def maps_search_with_http_info(query, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.maps_search ...'
      end
      # verify the required parameter 'query' is set
      if @api_client.config.client_side_validation && query.nil?
        fail ArgumentError, "Missing the required parameter 'query' when calling GoogleApi.maps_search"
      end
      # resource path
      local_var_path = '/api/v1/google/maps/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'query'] = query
      query_params[:'ll'] = opts[:'ll'] if !opts[:'ll'].nil?
      query_params[:'domain'] = opts[:'domain'] if !opts[:'domain'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'data'] = opts[:'data'] if !opts[:'data'].nil?
      query_params[:'place_id'] = opts[:'place_id'] if !opts[:'place_id'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JustSerpApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'ApiKeyQuery']

      new_options = opts.merge(
        :operation => :"GoogleApi.maps_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#maps_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Crawl Webpage (Markdown)
    # Get webpage crawl data, including removing boilerplate, for readable extraction, documentation workflows, and LLM input.
    # @param url [String] The full URL of the webpage to crawl and convert to Markdown (e.g., &#39;https://www.example.com&#39;).
    # @param [Hash] opts the optional parameters
    # @return [JustSerpApiResponse]
    def markdown(url, opts = {})
      data, _status_code, _headers = markdown_with_http_info(url, opts)
      data
    end

    # Crawl Webpage (Markdown)
    # Get webpage crawl data, including removing boilerplate, for readable extraction, documentation workflows, and LLM input.
    # @param url [String] The full URL of the webpage to crawl and convert to Markdown (e.g., &#39;https://www.example.com&#39;).
    # @param [Hash] opts the optional parameters
    # @return [Array<(JustSerpApiResponse, Integer, Hash)>] JustSerpApiResponse data, response status code and response headers
    def markdown_with_http_info(url, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GoogleApi.markdown ...'
      end
      # verify the required parameter 'url' is set
      if @api_client.config.client_side_validation && url.nil?
        fail ArgumentError, "Missing the required parameter 'url' when calling GoogleApi.markdown"
      end
      # resource path
      local_var_path = '/api/v1/web/markdown'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'url'] = url

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JustSerpApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'ApiKeyQuery']

      new_options = opts.merge(
        :operation => :"GoogleApi.markdown",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GoogleApi#markdown\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search
    # Get Google news Search data, including headlines and source metadata, for media monitoring and news aggregation.
    # @param query [String] The search query for Google News (e.g., &#39;artificial intelligence&#39;, &#39;climate change&#39;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country Set the target country code (e.g., &#39;us&#39;, &#39;uk&#39;) to localize results. See &lt;a href&#x3D;\&quot;/reference/google-countries\&quot;&gt;Google Countries&lt;/a&gt;.
    # @option opts [String] :language Set the language for the results using its two-letter code (e.g., &#39;en&#39; for English, &#39;fr&#39; for French). See &lt;a href&#x3D;\&quot;/reference/google-language\&quot;&gt;Google Language&lt;/a&gt;.
    # @option opts [String] :topic_token The Google News topic token to retrieve results for a specific category (e.g., &#39;World&#39;, &#39;Technology&#39;). Obtained from previous responses.
    # @option opts [String] :publication_token The Google News publication token to fetch results from a specific source (e.g., &#39;CNN&#39;, &#39;BBC&#39;). Obtained from previous responses.
    # @option opts [String] :section_token The Google News section token to access a specific subsection within a topic or publication.
[...]
